body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .tiempo-real-container {
    padding: 40px 20px;
    text-align: center;
  }
  
  .tiempo-real-container h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 600;
  }
  
  .lista-registros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.lista-registros {
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.lista-registros::-webkit-scrollbar {
  display: none;
}
  
  .registro-completo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 30%;
}

.icono-tipo {
    width: 36px;
    height: 36px;
    object-fit: contain;
    margin-right: 10px;
  }


  
